@mixin trs($var) {
  transition: $var ease-in-out;
}

@mixin br($var) {
  border-radius: $var;
}

@mixin text-eclipse($var) {
  display: -webkit-box !important;
  -webkit-line-clamp: $var;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
}
