$gray: #7C8792;
$black: #1F2229;
$bold_gray: #959597;

/* mediaqueries */
$xxs: "(max-width: 359.98px)";
$xxs-up: "(min-width: 360px)";
$xs: "(max-width: 479.98px)";
$xs-up: "(min-width: 480px)";
$sm: "(max-width: 575.98px)";
$sm-up: "(min-width: 576px)";
$md: "(max-width: 767.98px)";
$md-up: "(min-width: 768px)";
$lg: "(max-width: 991.98px)";
$lg-up: "(min-width: 992px)";
$xl: "(max-width: 1199.98px)";
$xl-up: "(min-width: 1200px)";
$xxl: "(max-width: 1399.98px)";
$xxl-up: "(min-width: 1400px)";
